
# Other files and folders
.settings/

# Executables
*.exe
*.app
# bmp
# bmp = build maan project ;) If you use the makemaan script only it does not need to be here. In fact it can only spook up this repository. :)

# BlitzMax compilation shit
.bmx

# MacOS X shit
.DS_Store
._*
