
# Other files and folders
.settings/
MKL_Backup

# Executables
*.exe
*.app
*.MKL.ini
*.debug

# BlitzMax compilation shit
.bmx
.settings
.project
.buildpath

# MacOS X shit
.DS_Store
._*

# A file for me, myself and I
ub
